{{ define "main" }}

<!-- ======= About Us Section ======= -->
<section id="hero2" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
          Have you ever thought about how nice it would be to find a home repair
          expert that you trust with all of your home repairs and improvements?
          A person that you trust around your family and belongings? A person
          that genuinely cares about your home as much as you do? How about
          somebody that is willing to go the extra mile to ensure that you get
          exactly what you want?
          <br /><br />
          A handyman with all of these traits will not only make your life
          easier by saving you time and reducing stress, but can end up saving
          you money in the long run as well.
        </p>
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <img src="/assets/img/about.jpg" alt="" class="img-fluid mb-3" />
        <a href="/contact" class="btn-learn-more">Contact us For more...</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
{{end}}
