{{ define "main" }}

<!-- ======= More Services Section ======= -->
<section id="hero2" class="more-services">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div
          class="card"
          style="background-image: url('/assets/img/more-services-1.jpg')"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card-body">
            <h5 class="card-title"><a>General Handyman Services</a></h5>
            <p class="card-text">
              Maintaining a property takes a lot of time and effort. Handing
              everything on your own can be exhausting, but vetting new
              contractors every time you need help is exhausting.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div
          class="card"
          style="background-image: url('/assets/img/more-services-2.jpg')"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="card-body">
            <h5 class="card-title"><a>Remodeling</a></h5>
            <p class="card-text">
              Do parts of your home feel outdated? Do you want to give your home
              new, modern appliances? Turn to Triangle Home Service of All
              Trades for home remodeling services.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div
          class="card"
          style="background-image: url('/assets/img/more-services-3.jpg')"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card-body">
            <h5 class="card-title"><a>Home Repairs</a></h5>
            <p class="card-text">
              Every homeowner can relate to the feeling of constantly needing a
              repair or maintenance. Having a go-to handyman will ensure that
              you can take care of these repairs in no time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div
          class="card"
          style="background-image: url('/assets/img/more-services-4.jpg')"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="card-body">
            <h5 class="card-title"><a>Exterior Services</a></h5>
            <p class="card-text">
              Regularly maintaining and cleaning your home's exterior will boost
              your property's curb appeal. Don't let built-up grime or a messy
              yard make your home an eyesore.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End More Services Section -->
{{end}}
