{{ define "main" }}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1 data-aos="fade-up">
          Professional, Honest, Quality Handyman And Home Improvement Services
        </h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          Trust Us for Home Improvement and Handyman Services and Custom
          Woodworking
        </h2>
        <div data-aos="fade-up" data-aos-delay="400">
          <a href="/about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="assets/img/clients/client-1.png"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
        />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="assets/img/clients/client-2.png"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
          data-aos-delay="100"
        />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="assets/img/clients/client-3.png"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
          data-aos-delay="200"
        />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="assets/img/clients/client-4.png"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
          data-aos-delay="300"
        />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="assets/img/clients/client-5.png"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
          data-aos-delay="400"
        />
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <img
          src="assets/img/clients/client-6.png"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
          data-aos-delay="500"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Clients Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
          It's always helpful to have a go-to handyman whenever you need help
          with your home. You won't have to call multiple contractors for small
          projects or simple repairs, and you won't have to worry about taking
          care of home improvement projects on your own.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> You won't have to waste time
            handling DIY projects
          </li>
          <li>
            <i class="ri-check-double-line"></i> Avoid juggling multiple
            contractors
          </li>
          <li>
            <i class="ri-check-double-line"></i> You can reach out to us for
            smaller projects
          </li>
        </ul>
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <p>
          When you need the help of a preferred local handyman in Hamilton &
          Missoula, MT, call on Triangle Home Service. We've been in the
          industry for over 10 years, giving us the knowledge to handle many
          different projects. You won't have anything to worry about when we're
          on your property because we're fully licensed and insured.
        </p>
        <a href="/about" class="btn-learn-more">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">
    <div class="row">
      <div
        class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
        data-aos="fade-right"
        data-aos-delay="150"
      >
        <img src="assets/img/cover-img.jpg" alt="" class="img-fluid" />
      </div>

      <div
        class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="65"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Happy Clients</strong>
                </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="85"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Projects</strong>
                </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-clock"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="18"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Years of experience</strong>
                </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-award"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="15"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Awards</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End .content-->
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>
        At Triangle Home Service, our technicians are qualified to perform
        handyman work from basic home repairs, to full home remodeling with the
        help of licensed contractors.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="ri-lightbulb-flash-line"></i></div>
          <h4 class="title">
            <a href="/service">GENERAL HANDYMAN SERVICES</a>
          </h4>
          <p class="description">
            Need a new Faucet Installed or Toilet Repaired? We Can Take Care of
            It.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="ri-home-gear-line"></i></div>
          <h4 class="title">
            <a href="/service">REMODELING</a>
          </h4>
          <p class="description">
            Make Your Property More Comfortable With Home Remodeling Services.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="ri-tools-line"></i></div>
          <h4 class="title"><a href="/service">HOME REPAIRS</a></h4>
          <p class="description">
            We Offer Helpful Services Like Drywall Repairs and Fixture
            Replacements.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="ri-home-line"></i></div>
          <h4 class="title"><a href="/service">EXTERIOR SERVICES</a></h4>
          <p class="description">
            We Can Handle Everything From Door Installations to Deck Refinishes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>WHY HIRE US?</h2>
      <p>MAKE READY REPAIRS</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="ri-task-line" style="color: #ffbb2c"></i>
          <h3><a href="/about">Licensed</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-file-lock-line" style="color: #5578ff"></i>
          <h3><a href="/about">Insured</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-money-dollar-circle-line" style="color: #e80368"></i>
          <h3><a href="/about">Affordable Price</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="ri-hammer-line" style="color: #e361ff"></i>
          <h3><a href="/about">Repair & Remodeling</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-home-8-line" style="color: #47aeff"></i>
          <h3><a href="/about">Residential Service</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-building-line" style="color: #ffa76e"></i>
          <h3><a href="/about">Commercial Service</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-time-line" style="color: #11dbcf"></i>
          <h3><a href="/about">Fast and Easy</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-search-eye-line" style="color: #4233ff"></i>
          <h3><a href="/about">Not impact your credit</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Features Section -->
{{end}}
